<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpha 1</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="content">
        <nav>
          <p class="brand">Alpha<strong> 1</strong></p>
          <ul>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#cadastro">Cadastre-se</a></li>
            <button>Login</button>
          </ul>
        </nav>
        <div class="header-block">
          <div class="text">
            <h2>O carro perfeito para você</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
              asperiores?
            </p>
          </div>
          <img src="images/car-header.png" alt="Car" />
        </div>
      </div>
    </header>
    
    <section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <p>Conheça um pouco mais</p>
          <h3>Sobre nós</h3>
        </div>
        <div class="about-content">
          <div class="left">
            <img src="images/about.png" alt="About" />
          </div>
          <div class="right">
            <h3>Desfrute de tecnologia e conforto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae ut inventore magni repellendus ab ad itaque facere. A
              tenetur quam, nobis tempore illum laborum ipsa fuga, itaque
              possimus repellat ad perspiciatis, velit reiciendis eos facilis
              sapiente blanditiis quas officia hic beatae quibusdam! Quod
              eligendi porro possimus voluptatum ad ipsum sapiente soluta,
              maiores nobis tenetur adipisci officiis nisi illum quae natus
              nostrum tempora accusantium blanditiis? Rem nesciunt illum
              dolorum, perferendis quos consequatur suscipit cumque fugiat alias
              sint repellat qui adipisci error est distinctio doloribus labore
              sunt modi eos odio quibusdam dicta. Dignissimos voluptate illum
              possimus quo. Ducimus repellat doloribus quisquam quidem?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="content">
        <div class="title-wrapper-features">
          <p>Conheça nossos</p>
          <h3>Recursos</h3>
        </div>
        <div class="feature-card-block">
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Tecnologia</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Inteligência artificial</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Bateria de longa duração</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Sistema morderno de som</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Zero ruídos</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Segurança nota máxima</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="main">
        <div class="content footer-links">
          <div class="footer-company">
            <h4>Empresa</h4>
            <h6>Sobre nós</h6>
            <h6>Contato</h6>
          </div>
          <div class="footer-rental">
            <h4>Links úteis</h4>
            <h6>Teste Drive</h6>
            <h6>Manuais</h6>
            <h6>Ajuda</h6>
          </div>
          <div class="footer-social">
            <h4>Se conecte conosco</h4>
            <div class="social-icons">
              <img src="images/instagram.png" alt="Instagram" />
              <img src="images/facebook.png" alt="Facebook" />
            </div>
          </div>
          <div class="footer-contact">
            <h4>Fale conosco</h4>
            <h6>+55 69 6969-6969</h6>
            <h6>contato@alpha1.com</h6>
            <h6>Rua despirocada, 69, Pau torto, MG</h6>
          </div>
        </div>
      </div>
      <div class="last">Alpha 1 - Todos direitos reservados</div>
    </footer>
  </body>
</html>
